name: build_ErfanGSIs

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
    
env:
  ROM_URL: https://get.mirror2.arrowos.net/download.php?token=zIybX1YNhcptEoFG4uLVACUd0vD6n285SZrQs7fjgHaPwmJqiRKBe3xWkM9T&version=arrow-12.0&variant=experiments&device=raphael
  ROM_NAME: Generic
  BUILD_TYPE: ab
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-18.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
       - name: Checkout
         uses: actions/checkout@master
           
       - name: Initialization environment
         run: |
            sudo -E apt-get -qq install git wget
       
       - name: Clone ErfanGSI Source Code
         run: git clone --recurse-submodules https://gitee.com/hais/HaisV3
       

              
       - name: Download Stock Rom & Generate GSI
         run: |
             cd $GITHUB_WORKSPACE/HaisV3
             sudo./HaisAuto.sh -c --$ROM_URL 
       
       - name: Zip GSI  
         run: |
              cd $GITHUB_WORKSPACE/HaisV3/Test
              mkdir upload
              zip -r rom.zip ./*
              if [[ $(du -sb "rom.zip" | awk '{print $1}') -gt 2097152000 ]];then
                  echo -e "split packaging..."
                  tar -cpzf - "rom.zip" | split -d -b 1024m - "upload/rom.zip"
              else
                  mv GSI.zip upload/
              fi
              ls "upload"                  
              
       - name: Upload GSI to WeTransfer
         run: |
              cd $GITHUB_WORKSPACE/HaisV3/Test
              curl -sL https://git.io/file-transfer | sh
              ./transfer wet ./upload/*
            
